[Desktop Entry]
Type=Link
Name=Minecraft Pi
Icon=/usr/share/pixmaps/minecraft-pi.png
URL=/usr/share/raspi-ui-overrides/applications/minecraft-pi.desktop
